@font-face {
    font-family: 'LiuJianMaoCao-Regular';
    src : url('../assets/LiuJianMaoCao-Regular.ttf');
}
.page_font {
    font-family: 'LiuJianMaoCao-Regular';
    src : url('../assets/LiuJianMaoCao-Regular.ttf');
}
