
<h1 class="subheader text-center show-for-large">O Wyszukiwarce</h1>

<h2 class="subheader text-center">Instrukcja używania wyszukiwarki</h2>

<section class="text-center"> Wybierz daty: </section> 
<section class="position_description text-center"> Wybierz datę POCZĄTKOWĄ i KOŃCOWĄ aby określić zakres czasowy wyszukiwanych artykułów </section>
<hr>
<section class="text-center"> Wybierz sortowanie: </section> 
<section class="position_description text-center"> Wybierz SORTOWANIE 
    - od najnowszych: aby posortować artykuły od najnowszego do najstraszego 
    - od najstarszych: abywyświetlić artykły od najstarszego 
</section>
<hr>
<section class="text-center"> Wprowadź wyuszkiwaną frazę: </section> 
<section class="position_description text-center"> 
W polu tekstowym wprowadź wyszukiwaną frazę i naciśnij przycisk SZUKAJ
</section>
<hr>
<section class="text-center"> Nawigowanie po artykułach: </section> 
<section class="position_description text-center"> 
Artykuły zostaną wyświelone i nalezy kliknąć w wybrany artykuł. Po wybraniu, otworzy się nowa stroan z zawartością artykułu.
W sytuacji gdy artykułów będzie wiecej niż mieszczących sie na stronie, pod artykułami pojawi sie menu do ich przewijania.
</section>
<hr>

<footer>
    <div class="row expanded">
      <div class="medium-6 columns">
        <ul class="menu align-right">
          <li class="menu-text ">Copyright © 2020 Zbigniew Kazior</li>
        </ul>
      </div>
    </div>
</footer>